body {
  margin: 0;
  padding: 0;
  background-color: RGB(250, 250, 250);
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 935px;
  height: 54px;
  z-index: 2;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  width: 320px;
}

nav ul li {
  display: flex;
  align-items: center;
  padding: 0px 11px;
}

nav ul li svg {
  display: flex;
  align-items: center;
}

nav ul li:last-child {
  padding-right: 0px;
}

main {
  display: flex;
  justify-content: center;
  width: 1680;
  min-width: auto;
  min-height: auto;
}
section {
  display: flex;
  padding: 30px 0 0 0;
  width: 935px;
  max-width: 975;
  min-width: auto;
  min-height: auto;
  margin: 0 368px 0 368px;
  box-sizing: border-box;
  z-index: 1;
}

.small-text {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  text-overflow: ellipsis;
}
.large-text {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
}

.container {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
}

.mainBox {
  display: flex;
  position: relative;
  align-items: flex-end;
  width: 360px;
  height: 36px;
  cursor: pointer;
}
.main-img {
  display: flex;
  position: relative;
  width: 103px;
  height: 29px;
  cursor: pointer;
  padding: 0 0px 0px 0px;
}

.my-pic {
  width: 22px;
}

.serchBar {
  display: flex;
  position: relative;
  justify-content: center;
  width: 215px;
  height: 28px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
}

.serchBarImg {
  display: flex;
  position: absolute;
  top: 8px;
  left: 81px;
  text-align: center;
}

.serchBarText {
  text-align: center;
  width: 215px;
  border: 0px solid red;
  background-color: RGB(250, 250, 250);
}

.serchBarText::placeholder {
  display: flex;
  position: absolute;
  color: rgb(145, 145, 145);
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-weight: lighter;
  font-size: 14px;
  text-overflow: ellipsis;
}

.rightBar {
  width: 614px;
}

.storyBox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 118px;
  margin: 0 0 24px 0;
  padding-left: 17px;
}

.storyBox::-webkit-scrollbar {
  display: none;
}

.storyLi {
  position: relative;
  display: flex;
  display: inline-block;
  width: 66px;
  height: 70px;
  margin: 17px 14px 18px 0;
}
.feedBox {
}
.feeds {
  height: 917px;
}

.canvas {
  position: absolute;
  width: 66px;
  height: 66px;
  z-index: 0;
}

.circle {
  position: absolute;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 5px 5px 5px 5px;
  z-index: 1;
}

.storyName {
  text-align: center;
  width: 66px;
  padding-top: 68px;
  overflow: hidden;
  white-space: nowrap;
}

.profileBar {
  position: fixed;
  top: 88px;
  bottom: -118px;
  width: 298px;
  right: 0;
  left: 1014.5px;
}

.recomend {
  width: 325;
  height: 291;
  border: 1px solid black;
}

#serch {
  width: 10px;
  height: 10px;
}
